version: '3'
services:
  envoy:
    # image: envoyproxy/envoy:v1.28-latest
    image: envoyproxy/envoy:v1.28.0
    volumes:
      - ./envoy/envoy-proxy.yml:/etc/envoy/envoy.yaml
    environment:
      - loglevel=debug
    ports:
      - 8000:8000
      - 9901:9901
