@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: Circular Std;
        font-weight: 500;
        src: url(../assets/fonts/circular-std-medium-500.ttf)
    }
}
