body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #1d0627; /* Dark Purple */
    text-align: center;
}

header {
    padding: 3.125rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 1vh 0;
}

header img {
    height: 5vw; /* Or your desired size using viewport units */
    margin-right: 1vw;
    vertical-align: middle;
}

h1 {
    font-family: "Circular Std", sans-serif;
    font-weight: 700; /* Adjust weight as needed */
    font-size: 2vw; /* Adjust size as needed using viewport units */
    margin: 0;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #2c1338, #4b195e, #2c1338, #4b195e, black);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

table {
    width: 60%; /* Adjust the width as desired */
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    border-radius: 30%; /* Rounded corners */
    border: none; /* No external borders */
}

th, td {
    padding: 2vw;
    word-wrap: break-word;
    border: 1px solid #525252; /* Internal grid lines */
}

th {
    background-color:  #1ada5dc6; /* Spotify Green */
    color: white;
}

td {
    background-color: #222222; /* Soft gray for dark theme */
    color: white;
}

th:first-child, td:first-child {
    border-left: none;
}

th:last-child, td:last-child {
    border-right: none;
}

tr:first-child th, tr:first-child td,
tr:last-child td {
    border-top: none;
    border-bottom: none;
}

th:first-child { border-top-left-radius: 30%; }
th:last-child { border-top-right-radius: 30%; }
tr:last-child td:first-child { border-bottom-left-radius: 30%; }
tr:last-child td:last-child { border-bottom-right-radius: 30%; }

@media screen and (max-width: 600px) {
    table { width: 100%; }
    thead { display: none; }
    tr, td {
        display: block;
        width: 100%;
        padding-left: 0;
        position: relative;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 100%;
        padding-left: 15px;
        text-align: left;
        font-weight: bold;
    }
}
